#about
{
    margin-top: 0px !important;
    margin-bottom: 20px;
}

#about.container
{
    margin-bottom: 0;
}

.about-info
{
    margin-top: 20px;
}


.about-info label {
    color: var(--primary-color);
    filter: brightness(0.9);
}

.about-image-holder {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 30px;
}

.about-image-holder div
{
    border: none !important;
    box-shadow: none !important;
}

.about-image-holder .about-img-container {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    position: relative;
}

.about-img-container .about-img img
{
    outline: 1px var(--primary-color-medium-alpha) solid;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.about-img-container .trash
{
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50% !important;
}

.about-info form
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px var(--primary-color-medium-alpha) dashed;
    border-radius: 10px;
    margin-bottom: 0;
}

.about-info input{
    width: 100%;
    border: 1px solid var(--primary-color-medium-alpha);
    background-color: transparent;
    border-radius: 4px;
    margin-top: 5px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.about-info button
{
    transform: translateY(31px) !important;
}

.about-info button:hover
{
    transform: scale(1.03) translateY(31px) !important;
}



.about-image-holder .about-img-container 
{
    object-fit: cover;
    position: relative;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
    padding-top: 60px !important;
}

.stat {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    gap: 15px;
    min-width: 200px;
    flex: 1;
    max-width: 300px;
    box-sizing: border-box;
}

.stat p
{
    text-wrap: nowrap;
}

.about-image
{
    width: 50px;
    position: absolute;
    right: 20;
    top: 20;
}

.stat-image {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.cat-small-text
{
    width: 20px;
}

.about-img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding: 6px;
    box-sizing: border-box;
}

.stat-number {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.stat > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-image-holder
{
    background-color: var(--secondary-color);
    width: 100%;
    height: 500px;
    margin-top: 50px;
    border: 3px solid var(--accent-color);
    outline-offset: 6px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

@media (max-width: 600px) {

    .about-image-holder {
        height: 300px;
    }
}

.image-description {
    position: absolute;
    bottom: -60px;
    height: 60px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.66);
    color: var(--primary-color);
    padding: 20px;
    font-size: 14px;
    text-align: start;
    opacity: 1;
    display: flex;
    gap: 20px;
    align-items: center;
    transition: bottom 0.2s ease-out; /* Add this */
    box-sizing: border-box;
}

.about-img-container:hover .image-description {
    bottom: 0;
}