/* styles.css */

:root {
    --primary-color: #000000;
    --primary-color-medium-alpha: #00000049;
    --primary-color-high-alpha: #00000080;
    --background-color: #ffffff;
    --secondary-color: #464646;
}

[data-theme='dark'] {
    --primary-color: #ffffff;
    --primary-color-medium-alpha: #ffffff49;
    --primary-color-high-alpha: #ffffff80;
    --background-color: #000000;
    --secondary-color: #464646;
}

[data-theme='light'] {
    --primary-color: #000000;
    --primary-color-medium-alpha: #00000049;
    --background-color: #ffffff;
    --secondary-color: #464646;
}

p{
    color: var(--primary-color);
}

html
{
    scroll-behavior: smooth;
}

.page
{
    display: flex;
    justify-content: center;
}

.content
{
    display: flex;
    justify-content: center;
    align-self: center;
    max-width: 672px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
}

*, label {
    font-family: "poppins";
}

body {
    color: var(--primary-color);
    background-color: var(--background-color);
    transition: background-color 0.5s ease, color 0.5s ease-out;
}


@media (max-width: 640px) {
    .content{
        margin-top: 10px !important;
    }
}

@font-face {
    font-family: "poppins";
    src: url("../../public/fonts/Poppins-Regular.ttf");
}

@media (max-width: 768px) {

    body {
        margin-left: 0px;
        margin-right: 0px;
    }

    .content
    {
        margin-top: 70px;
        height: 100%;
    }
}

@media (max-width: 672px) {

    .content
    {
        max-width: 90vw;
    }

    #home
    {
        transform-origin: top center;
        transform: scale(0.8);
    }

    #contact
    {
        padding-bottom: 50px;
    }

    .skill-container
    {
        height: 30px !important;
    }

    .page
    {
        padding: 10px;
    }
}

@media (max-width: 672px) and (min-width: 503px) {
    #home {
        transform: scale(0.8);
    }
}

@media (max-width: 502px) and (min-width: 402px) {
    #home {
        transform: scale(0.7);
    }
}

@media (max-width: 402px) {
    #home {
        transform: scale(0.6);
    }
}
