/* styles.css */

:root {
    --primary-color: #ffffff;
    --primary-color-medium-alpha: #d5d5d5;
    --primary-color-high-alpha: #00000080;
    --background-color: #111111;
    --secondary-color: #262626;
    --accent-color: #c04b4b;
    --accent-color-low-opacity: #c04b4b7a;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-family: "robo";
}

p{
    color: var(--primary-color-medium-alpha);
}

input
{
    border-radius: 0px !important;
}

html
{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

.page
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: fit-content;
    text-align: start;
    min-height: 100vh;
}

.bamboo
{
    position: fixed;
    top: 0;
    left: 30;
    width: 250px;
    height: 100%;
    z-index: 4;
    opacity: 1;
    background-image: url("../../public/images/bamboo.svg");
    background-repeat: repeat;
    background-size: 250px;
    animation: fly-in-right 1s ease-out forwards;
    transition: opacity 0.2s ease;
    transform-origin: center;
    pointer-events: none;
}

@keyframes fly-in-right
{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateY(0);
    } 
}

@keyframes fly-in-left
{
    0% {
        transform: translateX(100%) rotateY(180deg)
    }
    100% {
        transform: translateY(0) rotateY(180deg)
    } 
}

@media (max-width: 1350px) {
    .bamboo.back
    {
        opacity: 0 !important;
    }
}


.accent-text
{
    color: var(--accent-color);
}

.bamboo.right
{
    left: auto;
    right: 30;
    background-position: 0 250px;
    animation: fly-in-left 1s ease-out forwards !important;
}

/* .bamboo.back
{
    transform: rotateY(180deg) !important;
} */

.bamboo.left.back
{
    left: -50;
    background-position: 0 250px;

}
.bamboo.right.back
{
    right: -50;
    background-position: 0 0px;
}

.bamboo.back
{
    z-index: 3;
    opacity: 0.3;
}

@media (max-width: 1500px) {
    .bamboo.back
    {
        opacity: 1;
    }

    .bamboo
    {
        opacity: 0;
    }


    .analytics
    {
        display: none;
    }
    .logged-text
    {
        display: none;
    }
    
}

.add-new-form
{
    padding: 15px !important;
    border-radius: 0px !important;
    border: 2px solid rgba(255, 255, 255, 0.363);
}

.content
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: center;
    margin: auto;
    margin-top: 0px;
    padding: 70px;
    padding-top: 0;
    padding-bottom: 10px;
    height: 100% !important;
    max-width: 1000px;
    min-height: 97.5vh;
    overflow-x: hidden;
}

@media (max-width: 1020px) {
    .content
    {
        padding: 40px;

    }
}

@media (max-width: 850px) {
    .content
    {
        padding: 20px;

    }
}

*, label {
    font-family: "robo";
}

body {
    position: relative;
    color: var(--primary-color);
    background-color: var(--background-color);
    transition: background-color 0.5s ease, color 0.5s ease-out;
    height: fit-content;
    padding: 0;
    margin: 0;
    outline-offset: 0px;
    top: 0;
    box-sizing: border-box;
}

#contact
{
    padding-bottom: 90px !important;
}



@font-face {
    font-family: "robo";
    src: url("../../public/fonts/RobotoMono-Bold.ttf");
}

@font-face {
    font-family: "poppins";
    src: url("../../public/fonts/Poppins-Regular.ttf");
}

@media (max-width: 768px) {

    body {
        margin-left: 0px;
        margin-right: 0px;
    }
    #home
    {
        padding-bottom: 0px !important;
    }
    .footer
    {
        padding-bottom: 0px !important;
    }
    .content
    {
        padding-bottom: 10px;
    }

}

@media (max-width: 672px) {


    #contact
    {
        padding-bottom: 50px;
    }

    .skill-container
    {
        height: 30px !important;
    }
}


.not-found
{
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.not-found img
{
    width: 80px;
    height: 80px;
}

.not-found button
{
    text-wrap: nowrap;
    width: fit-content;
    max-width: none;
    margin-top: 30px;
}

.nothing
{
    color: var(--accent-color) !important;
}

.logout button
{
    margin-top: 20px;
}