/* styles.css */

:root {
    --primary-color: #000000;
    --primary-color-medium-alpha: #00000049;
    --background-color: #ffffff;
    --secondary-color: #464646;
}

[data-theme='dark'] {
    --primary-color: #ffffff;
    --primary-color-medium-alpha: #ffffff49;
    --background-color: #000000;
    --secondary-color: #464646;
}

[data-theme='light'] {
    --primary-color: #000000;
    --primary-color-medium-alpha: #00000049;
    --background-color: #ffffff;
    --secondary-color: #464646;
}

p{
    color: var(--primary-color);
}

html
{
    scroll-behavior: smooth;
}

.page
{
    display: flex;
    justify-content: center;
}

.content
{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 672px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
}

*, label {
    font-family: "poppins";
}

body {
    color: var(--primary-color);
    background-color: var(--background-color);
    transition: background-color 0.5s ease, color 0.5s ease-out;
}


@media (max-width: 640px) {
    .content{
        margin-top: 10px !important;
    }
}

@font-face {
    font-family: "poppins";
    src: url("../../public/fonts/Poppins-Regular.ttf");
}

@media (max-width: 768px) {

    body {
        margin-left: 0px;
        margin-right: 0px;
    }

    .content
    {
        margin-top: 70px;
        height: 100%;
    }
}
