#contact
{
    width: 100%;
}


.contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 50px;
  }
  
.contact-form label {
    color: var(--primary-color);
    filter: brightness(0.9);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid var(--primary-color-medium-alpha);
    background-color: transparent;
    margin-top: 5px;
    color: var(--primary-color);
    border-radius: 0 !important;
    font-style: normal !important;
    font-family: inherit !important;
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.submit-button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--background-color) !important;
    border: none;
    cursor: pointer;
    max-width: 100px;
    transition: transform 0.3s ease;
    width: 150px;
}


input::placeholder, textarea::placeholder {
    color: var(--primary-color-medium-alpha);
    font-family: "poppins";
    font-size: 14px; /* Change placeholder font size */
    font-style: italic; /* Optional: Add italic style */
    opacity: 1; /* Ensure full visibility (browsers may apply a default lower opacity) */
}

#contact textarea
{
    height: 90px;
    resize: none;
    margin-bottom: 0 !important;
}

input:focus,
textarea:focus {
    border-bottom: 1px solid var(--primary-color-medium-alpha);
    outline: none;
}

.message-button-container
{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.message-button-container .message
{
    width: 100%;
    flex: 1;
    position: relative;
}

#contact-button-holder
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    margin-top: 0px;
}

.one-line-input
{
    display: flex;
    gap: 30px;
    width: 100%;
}

.one-line-input div
{
    position: relative;
    flex: 1;
    width: 100%;
}

.contact-form input
{
    padding-right: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.input-text-count
{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: var(--accent-color);
}

.textarea-text-count
{
    position: absolute;
    top: 3px;
    left: 80px;
    color: var(--accent-color);
}

.clear
{
    background-color: var(--accent-color);
}

@media (max-width: 1055px) {
    .one-line-input
    {
        flex-direction: column;
    }
}

@media (max-width: 720px) {
    
    .message-button-container
    {
        flex-direction: column;
        gap: 10px;
    }
    #contact-button-holder
    {
        flex-direction: row !important;
        margin-top: 15px;
    }
    .contact-button-holder button
    {
        width: fit-content;
    }
}