#hackathon-container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 0px;
    gap: 20px;
}

.hackathon-holder
{
    display: flex;
    position: relative;
}

.hackathon
{
    display: flex;
    border-left: 1px var(--primary-color-medium-alpha) dashed;
    border-bottom: 1px var(--primary-color-medium-alpha) dashed;
    border-right: 1px var(--primary-color-medium-alpha) dashed;
    flex-direction: row;
    box-sizing: border-box;
    width: 305px;
    position: relative;
    width: 100%;
    padding-top: 10px;
    border-radius: 9px;
}

.hackathon:first-child
{
    border-top: 1px var(--primary-color-medium-alpha) dashed;
}


.hackathon:last-child
{
    border-bottom: none;
}

.hackathon:first-child
{
    border-bottom: 1px var(--primary-color-medium-alpha) dashed !important;
}

.hackathon .hackathon-image
{
    height: 160px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--background-color);
    position: absolute;
    left: 10px;
    z-index: 1;
    top: 15px;
    border: 2px var(--primary-color-medium-alpha) dashed;
    transition: background-color 0.5s ease;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hackathon-image span
{
    margin: 0;
}

.hackathon .top-line
{
    position: relative;
}

.hackathon .arrow
{
    width: auto;
    height: 50%;
    right: -20px;
    top: 7px;
}

.hackathon:hover .arrow
{
    opacity: 1 !important;
    right: -25px;
}

.hackathon.show .arrow
{
    transform: rotate(90deg) !important;
}


.hackathon-image img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    object-position: center;
}

.hackathon-important
{
    text-decoration: underline;
}

.hackathon .skill-container
{
    margin-left: 5px;
}

.hackathon .skill-container .skill
{
    background-color: #e7e7e7 !important;
    color: black;
    height: 22px !important;
}

.hackathon-text
{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: var(--primary-color);
    text-decoration: none !important;
    padding: 5px;
    width: 100%;
    margin-left: 80px;
    padding-bottom: 15px;
}

.hackathon-text span
{
    width: fit-content;
}

.hackathon-text h1{
    font-size: 18.5px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

.hackathon-text p{
    font-size: 15px;
    color: #c3c3c3 !important;
    margin-top: 5px;
    margin-bottom: 5px;
}


.hackathon-text .link-container
{
    margin-top: 15px;
    margin-left: 0px;
    min-height: 0 !important;
    height: auto;
    margin-bottom: 0;
}

.link
{
    background-color: black;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    height: 30px;
    margin-right: 5px;
}

.hackathon-text .link-container .link
{
    width: fit-content !important;
}