
#hero .container-profile
{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    margin-bottom: 0px;
    width: 100%;
}

#hero
{
    padding-bottom: 20px;
    width: 100%;
}

.top-cat
{
    position: absolute;
    top: -110px;
    z-index: 1;
    height: 130px;
    display: flex;
    width: 100%;
}

.spotify-text
{
    width: 100%;
    display: flex;
    gap: 10px;
    text-align: break-word;
    flex-wrap: wrap;
    word-break: break-word;
}



.top-cat-hand
{
    position: absolute;
    width: auto;
    height: 40px;
    bottom: 0px;
    z-index: 3;
}

.top-cat-hand.right-hand
{
    right: 0px;
    transform: rotateY(180deg);
}

.top-cat-body
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 100px;
    top: -45px;
    z-index: -3;
}

@keyframes cat-appear {
    0% {
        top: -45px;
    }
    100% {
        top: -100px;
    }
}

.discord-status
{
    display: flex;
    gap: 3px;
}

.profile-pic
{
    width: 260px;
    height: 238px;
    object-position: center;
    object-fit: cover;
    flex-shrink: 0;
    align-self: flex-start;
    transition: transform 0.3s ease, outline-offset 0.3s ease, filter 0.3s ease;
    transform-origin: bottom center;
    outline: 3px solid var(--accent-color);
    border: 6px solid black;
    outline-offset: 0px;
    z-index: 1;
    box-sizing: border-box;
    background-color: var(--secondary-color);
}

.profile-pic:hover .top-cat-body
{
   top: 50px;
   display: none;
}

#hero .img-container
{
    height:100%;
}

.img-container{
    position: relative;
}

.image-loader
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero .container-profile img.edit:hover
{
    transform: scale(1.02);
    filter: brightness(0.8);
    outline-offset: 0px;
}

#hero .container-profile .text-container
{
    flex-shrink: 1;
    margin: 0;
    width: 100%;
}


#hero a
{
    text-decoration: none;
    color: var(--primary-color);
}

#hero h1 {
    font-size: 3rem;
    margin: 0;
    margin-bottom: 25px;
}

#hero p {
    font-size: 17px;
}  

#profile-img
{
    width: 400px;
    height: auto;
    background-color: var(--primary-color);
    border-radius: 20px;
}

.circle
{
    background-color: white;
    width: 5px;
    height: 5px;
    margin: auto auto;
    margin-left: 10px;
    margin-right: 8px;
    border-radius: 50%;
}

.discord-span a:hover
{
    font-weight: bold;
    cursor: pointer;
}

.discord-span
{
    display: flex;
}

.service-text-container
{
    margin-top: 30px;
}

.service-text
{
    margin-top: 0px;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.service-text span
{
    display: flex;
}

.service-text span
{
    text-wrap: nowrap;
}

.service-text:last-child
{
    margin-top: 18px;
}

.online
{
    background-color: lightgreen;
}

.idle
{
    background-color: orange;
}

.dnd
{
    background-color: rgb(255, 0, 0);
}

.offline
{
    background-color: gray;
}

.service-image
{
    height: 20px;
    width: auto;
    margin-top: 1px;
}

.nowrap
{
    text-wrap: nowrap;
}

.song
{
    max-width: 190px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    color: var(--accent-color) !important;
}

.service-loader{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-loader
{
    width: 21px;
    height: 21px;
}

.small-loader .loader
{
    width: 21px;
    height: 100%;
}

.uploading
{
    filter: blur(5px);
}

.hero-api-info label {
    color: var(--primary-color);
    filter: brightness(0.9);
}


.add-new-form
{
    display: flex;
    flex-direction: column;
    padding: 0px;
    border-radius: 10px;
    animation-delay: 0.8s;
    margin-top: 40px;
    margin-bottom: 40px;
}

.add-new-form .input-container
{
    margin-bottom: 40px;
}

.add-new-form input{
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--primary-color-medium-alpha);
    background-color: transparent;
    margin-top: 5px;
    color: var(--primary-color);
}

.button-container-right
{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    align-items: flex-end;
}

#discord-user-id
{
    margin-bottom: 30px;
}

.hero-api-info button
{
    transform: translateY(31px) !important;
}

.hero-api-info button:hover
{
    transform: translateY(31px) scale(1.03) !important;
}


@media (max-width: 1155px)
{
    .img-container
    {
        display: none;
    }
}