/* home.css */
#home
{
    height: 90%;
    padding-bottom: 50px;
}

.container h1
{
    font-size: 25px;
}

.highlighted
{
    color: var(--primary-color);
    background-color: rgba(244, 217, 134, 0.486);
}

.logged-text
{
    position: absolute;
    right: 10px;
    top: 10px;
}

.trash
{
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: 3px;
    transition: transform 0.3s ease;
}

.trash:hover
{
    transform: scale(1.05);
}