/* home.css */
#home
{
    height: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 150px;
}

@media (max-width: 1055px) {
    #home
    {
      margin-top: 50px;
    }
  
}

#home > *:not(:first-child) {
  margin-top: 20px;
  padding-top: 40px;
  border-top: 2px solid var(--secondary-color);
}

.container h1
{
    font-size: 25px;
    margin-bottom: 30px;
}

.highlighted
{
    color: var(--primary-color);
    background-color: var(--accent-color-low-opacity);
    padding: 0px 5px;
}

.logged-text
{
    position: fixed;
    right: 20px;
    top: 10px;
    z-index: 100;
    cursor: pointer;
}


.trash
{
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-top: 12px;
    background-color: white;
    border-radius: 50%;
    outline: 1px solid var(--primary-color);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.analytics
{
  position: fixed;
  left: 20px;
  top: 10px;
  z-index: 100;
}

.analytics img
{
  transform: translateY(20%);
  height: 20px;
  margin-right: 5px;
}

.trash:hover
{
    transform: scale(1.05);
}

option
{
  background-color: var(--background-color)
}



@keyframes unblur {
  0%{
    filter: blur(5px);
  }
  100%{
    filter: blur(0px);
  }
}

@keyframes flydown {
  0% {
    transform: scaleX(1.5) scaleY(1);
    opacity: 1;
  }
  99% {
    transform: scaleX(1.5) scaleY(0.01); /* Near-zero but not fully collapsed */
    opacity: 1;
  }
  100% {
    transform: scaleX(1.5) scaleY(0);
    opacity: 0; /* Fully invisible */
  }
}

.loader-section
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  box-sizing: border-box;
}

/* From Uiverse.io by mrhyddenn */ 
.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid var(--accent-color-low-opacity);
  border-top-color: transparent;
  animation: rot1 1.2s linear infinite;
  box-sizing: border-box;
}

@keyframes rot1 {
  to {
    transform: rotate(360deg);
  }
}

.social-loader
{
  width: 50px;
  height: 50px;
  margin: 0;
}


@keyframes appear {
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}