/* Nav Bar */

.top-bar-holder
{
    display: flex;
    justify-content: flex-end;
}

.nav-bar
{
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    padding: 50px 0px;
}

nav section
{
    display: flex;
    gap: 5px;
}

nav a
{
    border-radius: 50%;
    transition: background-color 0.2s ease, margin 0.2s ease;
}

.home-icon
{
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.home-icon img
{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    transform: rotateY(180deg);
}


#socials
{
    border-left: 1px #0000001a solid;
    border-right: 1px #0000001a solid;
    padding-left: 5px;
    padding-right: 5px;

}

.nav-bar nav {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}


nav a[data-tooltip] {
    position: relative;
}

nav a[data-tooltip]::after {
    content: attr(data-tooltip); /* Use the value of the 'data-tooltip' attribute */
    position: absolute;
    bottom: 120%; /* Position above the icon */
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--accent-color); /* Background color of the tooltip */
    color: #fff; /* White text color */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap; /* Prevent the text from wrapping */
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Prevent interaction when hidden */
    transition: opacity 0.2s ease, visibility 0.2s ease;
    z-index: 1000;
    pointer-events: none; /* Disable pointer interactions */
}

/* Show Tooltip on Hover */
nav a[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
}