

.skill-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 15px;
    margin-top: 40px;
    margin-bottom: 20px;
    min-height: fit-content;
}

.scroll-text
{
    display: none;
    color: var(--primary-color);
    font-size: 13px;
    text-align: start;
}

@media (max-width: 1000px) {
    .skill-container {
        grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    }  
}

@media (max-width: 685px) {
    .skill-container {
        --show-amount: 6;
        grid-template-columns: repeat(1, 1fr); /* 2 equal columns */
        max-height: fit-content;
        overflow: scroll;
        min-height: calc((var(--show-amount) * 60px) + ((var(--show-amount) - 1) * 15px));
        box-sizing: border-box;
    }  

    .scroll-text
    {
        display: block;
    }
}

#skills
{
    width: 100%;
}

.skill {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    box-sizing: border-box;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px 20px;
    font-size: 13px;
    width: 100%;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.skill-text
{
    color: var(--primary-color);
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-new-skill
{
    background-color: transparent;
    border: 3px var(--secondary-color) dashed;
}

.add-new-skill:focus 
{
    border: 3px var(--secondary-color) dashed;
}

.add-new-skill-input::placeholder {
    font-style: normal;
}

.skill img
{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.skill.deletion:hover
{
    background-color: var(--accent-color-low-opacity);
    cursor: pointer;
}

.tick {
    outline: 3px solid rgba(255, 255, 255, 0.368);
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 18px;
    margin-right: 20px;
    flex: 0 0 20px;
}

.tick img
{
    position: absolute;
    width: 20px;
    left: -2px;
    bottom: -2;
    transform: scale(1.5);
    transform-origin: bottom left;
    z-index: 1;
}

.add-skill
{
    width: 100%;
    display: flex;
    padding: 10px;
    border: 2px var(--primary-color-medium-alpha) dashed;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 20px;
}

.add-skill-form
{
    display: flex;
    gap: 10px;
    width: 100%;
    margin: 0;
}

.add-skill-container
{
    width: 100%;
}

.add-skill-form input
{
    background-color: transparent;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.add-skill-form button
{
    height: 42px;
    transform: translateY(25px);
    transition: transform 0.3s ease;
}

.add-skill-form button:hover
{
    transform: translateY(25px) scale(1.03);
}