

#skill .skill-container
{
    margin-bottom: 20px;
    height: 100%;
    margin-top: 20px;
}


#skill .skill-container .skill
{
    height: 28px;
    padding: 5px 10px 1px 10px !important; 
}

.skill-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.skill
{
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 3px 10px 0px 10px;
    border-radius: 5px;
    font-size: 13px;
}

.skill.deletion:hover
{
    background-color: #f90e0e9f;
    cursor: pointer;
}

.add-skill
{
    width: 100%;
    display: flex;
    padding: 10px;
    border: 2px var(--primary-color-medium-alpha) dashed;
    border-radius: 10px;
    box-sizing: border-box;
}

.add-skill-form
{
    display: flex;
    gap: 10px;
    width: 100%;
    margin: 0;
}

.add-skill-container
{
    width: 100%;
}

.add-skill-form input
{
    background-color: transparent;
    margin-bottom: 10px;
}

.add-skill-form button
{
    height: 42px;
    transform: translateY(25px);
    transition: transform 0.3s ease;
}

.add-skill-form button:hover
{
    transform: translateY(25px) scale(1.03);
}